@import './_variables';
@import './_helpers';
@import './_colors';
@import './_fonts';
@import './_a11y';

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

[v-cloak] {
  display: none;
}

button {
	cursor: pointer;
	appearance: none;
	border: none;
	background-color: transparent;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}